
<form id="new-list-form">
  <h1>Create a New List</h1>
  <p>List Name: <input type="text" name="list[name]" placeholder="List Name" ></p>
  <!-- TODO: Add group content-->
  <!-- <p id="#list-group-name" class="hidden"></p>
  <a href="#"></a> -->
  <br/>
  <p>This list will be automatically marked "Active".</p>
  <input class="btn-primary" type="submit" value="Submit &raquo;">
  <button class="btn-default">Cancel</button>
</form>
