
<form id="new-item-form">
  <h1>Create a New Item</h1>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>
          Item Name
        </th>
        <th>
          Unit of Measure
        </th>
        <th>
          Quantity per Unit
        </th>
      </tr>
    </thead>
    <tr>
      <td>
        <input type="text" name="item[name]" placeholder="Item Name" >
      </td>
      <td>
        <input type="text" name="item[unit]" placeholder="Unit of Measure">
      </td>
      <td>
        <input type="number" name="item[unit_quantity]" placeholder="Item Name" min="1">
      </td>
    </tr>
  </table>
  <input class="btn-primary" type="submit" value="Submit &raquo;">
  <button data-item-index class="btn-default">Cancel
  </button>
</form>
<div id="new-item-response"></div>
