<h1>Find an item</h1>
<p>Item name? <input type="text" data-search="items" placeholder="Enter a search word."></p>
<button class="btn-primary" data-search="items"><i class="glyphicon glyphicon-search"></i> Search &raquo;</button>
<div data-results="items"></div>
