<h1>Find an item</h1>
<p>Item name? <input type="text" data-search="items" placeholder="Enter a search word."></p>
<button data-search="items">Search &raquo;</button>
<div data-results="items"></div>
